.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 1.5rem;
    padding-left: 7rem;
    padding-right: 12rem;
}

.body{
    background-color: #FFFAF4;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.logo{
    width: 6rem;
}

.cardsContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
