.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #FFF8F0;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 1.5rem;
    padding-left: 7rem;
    padding-right: 12rem;
}

.body{
    background-color: #FFFAF4;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.formWrapper {
  width: 70%;
  max-width: 900px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 0.75rem;
}

.subtitle {
  font-size: 16px;
  margin-top: 4px;
  width: 90%;
}

.divider {
  margin: 1.6rem 0;
  border: none;
  height: 1px;
  background: #ddd;
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.label {
  font-size: 20px;
  font-weight: 600;
}

.helpText {
  font-size: 15px;
}

.checkbox {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.checkboxLabel {
  cursor: pointer;
}

.textarea {
  width: 70%;
  min-height: 10rem;
  background-color: #FFFFFF;
}

.uploadBox {
  width: 70%;
  height: 10rem;
  border: 2px dashed #bbb;
  border-radius: 8px;
  background: #fafafa;
  color: #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.uploadBox:hover {
  border-color: #8f5a9c;
  background: #f3e6f7;
}

.submitButton {
  width: 50%;
  margin-top: 1rem;
  background: linear-gradient(90deg, #76477C, #9f6db3);
  color: white;
  height: 45px;
  font-size: 17px;
  cursor: pointer;
}

.submitButton:hover {
  background: linear-gradient(90deg, #76477C, #8a50a1);
  box-shadow: 2px 2px 10px 2px #c081c9
}

.footer {
  margin-top: auto;
  background: #fff;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.logo {
  width: 6rem;
}
